/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */
body.front #content-column,
.region-sidebar-first,
.region-sidebar-second {
    margin-bottom: 20px;
    margin-top: 0px;
}

body.front .columns-inner {
    padding-top: 0px;
}
#block-user-login { display: none; }

#block-views-user-registration-link-block { margin-bottom: .5em; }

@media only screen and (min-width:769px) {
  .region-two-66-33-top {
    background-image: url("/sites/all/themes/sacdrupal2013/images/1280px-Sacramento_Skyline.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 286px;
  }
  .region-two-66-33-top .region-inner {
    float: right;
    color: #FFF;
    margin-right: 80px;
    margin-top: 190px;
    text-align: right;
    font-weight: bold;
  }
  .region-two-66-33-top .region-inner h1 {
    color:#FFF;
    margin-bottom: 5px;
  }
  .region-two-66-33-top .block-region-two-66-33-top {
    margin-bottom: 0px;
  }
    #menu-bar .menu-wrapper li, #menu-bar .menu-wrapper .menu li.last {display: none;}

    #block-user-login { display: inline; }
    #block-user-login { text-align: left; }
    #block-user-login .form-item-name { float: left; margin-right: 10px; margin-top: 0; }
    #block-user-login .form-item-pass { float: left; margin-right: 100px; margin-top: 0; }
    #block-user-login .form-actions { float: right; margin-top: -75px; }
    #block-user-login .item-list, #block-system-user-menu { clear: both; text-align: right; float:left; margin-top: -10px; font-size: .75em; }
    #block-user-login .item-list ul, #block-system-user-menu ul { list-style-type: none; }
    #block-user-login .item-list ul li, #block-system-user-menu ul li { display: inline; margin-right: 5px; }
}